<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
<!--			<div class="uk-animation-slide-left">-->
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.name">
									<label>Name</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.email" v-input-mask="{ 'alias': 'email' }">
									<label>Email</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.phone" v-input-mask="{ 'mask': '9999-9999-9999' }">
									<label>Phone</label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.address">
									<label>Address</label>
								</ScInput>
							</div>
							<div>
								<label class="uk-form-label">
									Province
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											@change="filterCity"
											v-model="mData.province_id"
											:options="cListProvince"
											:settings="{ 'width': '100%', 'placeholder': 'Select a province type...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<label class="uk-form-label">
									City
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.city_id"
											:options="$route.params.id === 'add' ? arrayCity : cListCity"
											:settings="{ 'width': '100%', 'placeholder': 'Select a city type...', allowClear: true }"
											:disabled="mData.province_id === null || mData.province_id === ''"
										></Select2>
									</client-only>
								</div>
							</div>
						</div>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<label class="uk-form-label">
									Account Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.id_account_type"
											:options="cListAccountType"
											:settings="{ 'width': '100%', 'placeholder': 'Select a account type...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<!-- <ScInput v-model="mData.organization_code" v-input-mask="{ 'mask': 'aaaaa-999' }"> -->
								<ScInput v-model="mData.organization_code">
									<label>Organization Code</label>
								</ScInput>
							</div>
							<div>
								<!-- <ScInput v-model="mData.organization_code" v-input-mask="{ 'mask': 'aaaaa-999' }"> -->
								<ScInput v-model="mData.img_url">
									<label>Image</label>
								</ScInput>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>

<!--			</div>-->
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image organization; pos: left">
				<i class="mdi mdi-image-plus"></i>
			</a>
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark">
				<i class="mdi mdi-checkbox-marked-circle-outline"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	const tech_type = require('~/data/common/tech_type.json');
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/assets/js/vendor/jquery.creditCardValidator.js');
		require('~/plugins/gmaps')
	}

	export default {
		middleware: 'router-auth',
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){

			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			const listAccountType = await context.$axios.get('cms/masterdata/account-type/list/page=1/limit=10/column-sort=id/sort=desc')
			const listProvince = await context.$axios.get('cms/masterdata/province/list/page=1/limit=1000/column-sort=name/sort=asc')
			const listCity = await context.$axios.get('cms/masterdata/city/list/page=1/limit=1000/column-sort=name/sort=asc')

			if (context.params.id === 'add'){
				return {
					listData: listData,
					editedIndex: editedIndex,
					listAccountType: listAccountType.data.data,
					listProvince: listProvince.data.data,
					listCity: listCity.data.data,
				}
			}else{
				listData =  await context.$axios.get(`cms/organization/list/organization-id=${context.params.id}/page=1/limit=10/column-sort=id/sort=desc`)
				editedIndex = 1
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
					listAccountType: listAccountType.data.data,
					listProvince: listProvince.data.data,
					listCity: listCity.data.data,
				}
			}
		},
		data: () => ({
			mData: {
				id_account_type: '',
				organization_code: '',
				name: '',
				email: '',
				province_id: '',
				city_id: '',
				address: '',
				phone: '',
				img_url: '',
			},
			arrayCity: []
		}),
		created	(){
			if (this.listData !== null){
				// console.log(this.$route.params.id)
				this.mData = {
					id: this.$route.params.id,
					id_account_type: this.listData.id_account_type.toString(),
					organization_code: this.listData.organization_code.toString(),
					name: this.listData.name,
					email: this.listData.email,
					province_id: this.listData.province_id.toString(),
					city_id: this.listData.city_id.toString(),
					address: this.listData.address,
					phone: this.listData.phone,
					img_url: this.listData.img_url,
				}
			}
		},
		computed: {
			cListAccountType () {
				return this.listAccountType.map(function (obj) {
					obj.id = obj.id || obj.code;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			cListProvince () {
				return this.listProvince.map(function (obj) {
					obj.id = obj.province_id || obj.code;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			cListCity () {
				return this.listCity.map(function (obj) {
					obj.id = obj.city_id || obj.code;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Organization' : 'Edit Organization'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		watch: {
			mData: {
				handler(val){
					// if (this.editedIndex !== 1){
					this.$store.commit('organization/savedStateAddOrganization', {
						// id: val.id === undefined ? '' : val.content_id,
						id_account_type: val.id_account_type === undefined ? '' : val.id_account_type,
						organization_code: val.organization_code === undefined ? '' : val.organization_code,
						name: val.name === undefined ? '' : val.name,
						email: val.email === undefined ? '' : val.email,
						province_id: val.province_id === undefined ? '' : val.province_id,
						city_id: val.city_id === undefined ? '' : val.city_id,
						address: val.address === undefined ? '' : val.address,
						phone: val.phone === undefined ? '' : val.phone,
						img_url: val.img_url === undefined ? '' : val.img_url,
						// file: val.file
					})
				},
				deep: true
			},
			cListCity () {
				return this.listCity.map(function (obj) {
					obj.id = obj.id || obj.code;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},

		},
		methods: {
			addImage(){
				this.$store.commit('organization/updateStatusBanner', this.$route.params.id)
				location.href = '/organization/image_cropper'
			},
			filterCity(){
				this.arrayCity = this.listCity
				this.arrayCity = this.arrayCity.filter(x => x.province_id === parseInt(this.mData.province_id))
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('organization/safeDeleteOrganization', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.mData = {}
				this.$store.commit('organization/clearDataOrganization')
				this.$nuxt.$router.push('/organization')
			},
			async submit(){
				// console.log()
				let textNotifSucced = 'Add Organization Success'
				let textNotifFailed = 'Add Organization Failed'
				let actions = 'addOrganization'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Organization Success'
					textNotifFailed = 'Update Organization Failed'
					actions = 'editOrganization'
				}
				// this.modalPercentage('show')
				this.mData.images = this.$store.state.organization.tempImageFile
				await this.$store.dispatch('organization/'+actions, this.mData)
					.then((res) => {
						// this.modalPercentage('hide')
						if(res.success){
							this.$store.commit('organization/clearDataOrganization')
							this.mData = {}
							this.showNotification(res.message, false, 'success')
							this.$nuxt.$router.push('/organization')
						}else{
							this.showNotification(res.message, false, 'danger')
						}
					})
					.catch((err) => {
						this.modalPercentage('hide')
						console.log(err)
					})
			},
		},
		mounted() {
			if (this.editedIndex !== 1){
				if (this.$store.state.organization.dataOrganization !== null){
					this.mData = this.$store.state.organization.dataOrganization
					this.filterCity()
				}
			}
		},
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
