<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
<!--							{{getState}}-->
						</legend>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.version_code">
									<label>Version Code</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.version_name">
									<label>Version Name</label>
								</ScInput>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
<!--			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image banner; pos: left">-->
<!--				<i class="mdi mdi-image-plus"></i>-->
<!--			</a>-->
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
<!--			<a href="javascript:void(0)" @click="testPersisted" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">-->
<!--				<i class="mdi mdi-check"></i>-->
<!--			</a>-->
		</div>
		<UploadFilePercentage/>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// import { mapState } from 'vuex'
	import ProgressPercentage from '~/components/UploadFilePercentage'
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import Flatpickr from '~/plugins/flatpickr'
	import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
	import UploadFilePercentage from "../../../../components/UploadFilePercentage";
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		middleware: 'router-auth',
		components: {
			UploadFilePercentage,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
			ProgressPercentage
		},
		async asyncData(context){
			// console.log(context.params.id)
			const listOrganization = await context.$axios.get(`cms/organization/list/is-verified=1/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listDisaster = await context.$axios.get(`cms/disaster/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listArticleType = await context.$axios.get(`cms/masterdata/article-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// console.log(listContentType.data)
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					listOrganization: listOrganization.data.data,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`cms/banners/list/id=${context.params.id}/page=1/limit=1/column-sort=id/sort=desc`)
				editedIndex = 1
				// console.log(listData.data.data[0])
				return {
					listData: listData.data.data[0],
					listOrganization: listOrganization.data.data,
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){
			// console.log(Object.entries(route.query).length === 0)
		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			canDownload: false,
			// content: '<h1>Header</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deleniti ducimus, eos fugit, mollitia neque praesentium quia quisquam quos sapiente voluptatem voluptatibus voluptatum. Assumenda consectetur deleniti doloremque fuga harum illum molestiae nisi possimus quidem vero. A accusantium alias aliquam animi cum doloremque eos est facilis illo, illum inventore ipsam itaque laboriosam maiores modi mollitia necessitatibus nemo non omnis perferendis quam quia, repellendus rerum vel veritatis voluptas voluptate?</p><p><a href="https://themeforest.com/" target="_blank">themeforest.com</a></p>',
			mData: {
				version_name: '',
				version_code: '',
			},
		}),
		mounted() {
			if (this.editedIndex !== 1){
				if (this.$store.state.version_control.dataVersionControl !== null && this.$route.params.id === 'add'){
					this.mData = this.$store.state.version_control.dataVersionControl
				}
			}

		},
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					version_name: this.listData.version_name,
					version_code: this.listData.version_code,
				}
			}
		},
		computed: {
			formTitle(){
				return this.editedIndex === -1 ? 'Add Admin' : 'Edit Admin'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		watch: {
			mData: {
				handler(val){
					// console.log(val)
					this.$store.commit('version_control/savedStateAddVersionControl', {
						version_name: val.version_name,
						version_code: val.version_code,
					})
				},
				deep: true
			}
		},
		methods: {
			testPersisted(){
				// console.log('nice')
				// console.log(this.$store.state.masterdata.dataAddDisaster)
				// this.sampel  += 1
				// this.$store.commit('masterdata/savedStateAddDisaster', 1)
				// console.log(this.$store.state.banner.tempImageFile)
				// console.log(this.$store.state.banner.dataBanner)
			},
			addImage(){
				this.$store.commit('banner/updateStatusBanner', this.$route.params.id)
				location.href = '/banner/image_cropper'
				// console.log(this.enc(JSON.stringify(this.mData)))
				// console.log(JSON.stringify(this.mData))
				// location.href = `/disaster/image_cropper`
			},
			openModal(){
				UIkit.modal('#getCroppedCanvasModal').show();
			},
			onEditorBlur (editor) {
				// console.log('editor blur!', editor)
			},
			onEditorFocus (editor) {
				// console.log('editor focus!', editor)
			},
			onEditorReady (editor) {
				// console.log('editor ready!', editor)
			},
			onEditorChange (event) {
				// console.log('editor change!', event.editor, event.html, event.text);
				this.mData.content = event.html
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteContent', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.mData = {}
				this.$store.commit('banner/clearData')
				this.$nuxt.$router.push('/banner')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add version success'
				let actions = 'addVersionControl'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update banner success'
					actions = 'editVersionControl'
				}
				this.modalPercentage('show')
				// this.mData.images = this.$store.state.banner.tempImageFile
				// console.log(this.$store.state.masterdata.tempImageFile)
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				this.$store.dispatch('version_control/'+actions, this.mData)
					.then((res) => {
						this.modalPercentage('hide')
						if(res.success){
							this.showNotification(res.message, false, 'success')
							// this.$store.commit('content/clearDataContent')
							this.mData = {}
							this.$nuxt.$router.push('/version-control')
						}else{
							this.showNotification(res.message, false, 'danger')
						}
					})
					.catch((err) => {
						this.modalPercentage('hide')
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
