<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Organization
					</h1>
					<span class="uk-text-muted">
						Bumikita
					</span>
				</div>
				<div class="sc-actions uk-margin-left">
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-archive"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<VueGoodTable
						mode="remote"
						@on-page-change="onPageChange"
						@on-sort-change="onSortChange"
						@on-column-filter="onColumnFilter"
						@on-per-page-change="onPerPageChange"
						@on-search="onSearch"
						@on-row-dblclick="onRowDoubleClick"
						:totalRows="totalRecords"
						:isLoading.sync="isLoading"
						:columns="columns"
						:rows="rows"
						:pagination-options="{ enabled: true }"
						style-class="uk-table uk-table-divider scutum-vgt"
						:search-options="{
							enabled: true,
							placeholder: 'Search this table',
						  }"
					>
						<template slot="table-row" slot-scope="props">
							<span v-if="props.column.field === 'account_type_name'" class="uk-label" :class="[registerTypeLabel(props.row.account_type_name)]">
								{{ props.row.account_type_name }}
							</span>
							<span v-else-if="props.column.field === 'is_deleted'">
								<div v-if="props.row.is_deleted === '0'">
									<a v-waves.button.light class="sc-button sc-button-success" @click="toggleIsActiveItem($event, props.row)" href="javascript:void(0)">
										On
									</a>
								</div>
								<div v-else>
									<a v-waves.button.light class="sc-button sc-button-danger" @click="toggleIsActiveItem($event, props.row)" href="javascript:void(0)">
										Off
									</a>
								</div>
							</span>
							<span v-else-if="props.column.field === 'id'">
								<span><a data-uk-tooltip="Edit" @click="mEdit(props.row)" href="javascript:void(0)" class="mdi mdi-pencil"></a></span>
								<span><a data-uk-tooltip="Delete"@click.prevent="deleteItem($event, props.row)" href="javascript:void(0)" class="mdi md-color-red-600 mdi mdi-delete"></a></span>
							</span>
							<span v-else-if="props.column.field === 'phone'" :class="{'uk-label' : props.row.phone === null, 'uk-label-outline': props.row.phone === null}">
								{{ props.row.phone === null ? 'phone not register' : props.row.phone }}
							</span>
							<div  v-else-if="props.column.field === 'img_url'" class="sc-list-addon">
								<div v-if="!isEmpty(props.row.img_url)" class="uk-display-inline-block">
									<div class="sc-avatar-wrapper">
										<img :src="$store.state.setting.pathImagesOrganization + props.row.img_url" alt="alt" class="sc-avatar">
<!--										<img v-else :src="avatarDefault" alt="alt" class="sc-avatar">-->
									</div>
								</div>
								<span v-else :class="{'uk-label' : true, 'uk-label-outline': true}">
									no image
								</span>
							</div>
<!--							<nuxt-link v-else-if="props.column.field === 'title'" :to="'/pages/issues/details/' + props.row.id">-->
<!--								{{ props.row.title }}-->
<!--							</nuxt-link>-->
<!--							<span v-else-if="props.column.field === 'user'">-->
<!--								{{ props.row.user }}-->
<!--							</span>-->
							<template v-else>
								{{ props.formattedRow[props.column.field] }}
							</template>
						</template>
					</VueGoodTable>
				</ScCardBody>
			</ScCard>
		</div>
		<!--		FAB BUTTON-->
		<div class="sc-fab-page-wrapper uk-animation-slide-left">
			<a href="javascript:void(0)" @click="mDetails" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-plus"></i>
			</a>
		</div>
	</div>
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapGetters } from 'vuex'
import ScAvatar from '~/components/Avatar'


export default {
	components: {
		VueGoodTable,
		ScAvatar,
	},
	async asyncData(context){
		const listItems = await context.$axios.get('cms/organization/list/page=1/limit=10/column-sort=id/sort=desc')
		const listUserType = await context.$axios.get('cms/masterdata/account-type/list/page=1/limit=1000/column-sort=id/sort=desc')
		// console.log(listItems.data)
		return {
			rows: listItems.data.data,
			totalRecords: listItems.data.paginate.totalRow,
			listUserType: listUserType.data.data
		}
	},
	data: () => ({
		question: '',
		answer: 'I cannot give you an answer until you ask a question!',
		isLoading: false,
		progress: false,
		// totalRecords: 0,
		serverParams: {
			columnFilters: {
				email: '',
				name: ''
			},
			sort: {
				field: 'id',
				type: 'desc',
			},
			page: 1,
			perPage: 10,
			searchVal: ''
		},
	}),
	computed: {
		...mapGetters({
			issues: 'issues/issues'
		}),
		columns () {
			const listUserType = this.listUserType.map(function(item){ return item.name; })
			// console.log(test)
			return [
				// {
				// 	label: 'Id',
				// 	field: 'issueId',
				// 	sortable: true,
				// 	sortFn: this.issueIdSort,
				// 	tdClass: 'uk-text-center uk-text-nowrap'
				// },
				{
					label: 'Account Type',
					field: 'account_type_name',
					tdClass: 'uk-text-center',
					filterOptions: {
						enabled: true,
						filterDropdownItems: listUserType
					}
				},
				{
					label: 'Email',
					field: 'email',
					filterOptions: {
						enabled: true
					}
				},
				{
					label: 'Name',
					field: 'name',
					filterOptions: {
						enabled: true
					}
				},
				{
					label: 'Phone',
					field: 'phone'
				},
				{
					label: 'Registered On',
					field: 'created_at',
					type: 'date',
					dateInputFormat: 'yyyy-MM-dd HH:mm:ss',
					dateOutputFormat: 'MMM do yyyy',
					tdClass: 'uk-text-nowrap uk-text-left'
				},
				{
					label: 'Photo',
					field: 'img_url'
				},
				{
					label: 'isActive?',
					field: 'is_deleted'
				},
				{
					// label: 'Action',
					field: 'id',
					sortable: false,
					width: '8%',
					tdClass: 'uk-text-center',
				},
				// {
				// 	label: 'Modified On',
				// 	field: 'modified',
				// 	type: 'date',
				// 	dateInputFormat: 'yyyy-MM-dd',
				// 	dateOutputFormat: 'MMM do yyyy',
				// 	tdClass: 'uk-text-nowrap uk-text-left'
				// }
			]
		},
		'avatarDefault'(){
			return require('~/assets/img/avatars/default-avatar.png')
		}
	},
	methods: {
		registerTypeLabel (priority) {
			// console.log(priority)
			let priorityClass = null;
			switch (priority) {
				case 'Organization':
					priorityClass = 'md-bg-green-600';
					break;
				case 'General':
					priorityClass = 'md-bg-cyan-600';
					break;
				case 'Goverment':
					priorityClass = 'uk-label-warning';
					break;
				case 'Admin Bumikita':
					priorityClass = 'md-bg-indigo-600';
					break;
				default:
					priorityClass = 'md-bg-grey-600';
					break;
			}
			return priorityClass;
		},
		issueIdSort (x, y, col, rowX, rowY) {
			const _x = parseInt(x.replace("sc-", ""));
			const _y = parseInt(y.replace("sc-", ""));
			return (_x < _y ? -1 : (_x > _y ? 1 : 0));
		},
		deleteItem(e, row){
			// console.log(this.rows)
			const self = this;
			let index = this.rows.map(function (item) {
				return item.id
			}).indexOf(row.id);
			UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete organization <strong>'+ row.name +'</strong>?</p>', {
				'escClose': false,
				'labels': {
					'cancel': 'Cancel',
					'ok': 'Delete'
				}
			}).then(function () {
				// DELETED
				self.$store.dispatch('organization/deleteOrganization', row.id)
				// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
				setTimeout(() => {
					self.rows.splice(index, 1);
					// self.loadItems(false);
				}, 300);
			}, function () {
				// CANCEL DELETE
				// console.log('Rejected.')
			});
			// this.$store.commit('masterdata/deleteSc')
			// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
			// console.log(idx)
		},
		toggleIsActiveItem(e, row){
			// console.log(this.rows)
			const self = this;
			let index = this.rows.map(function (item) {
				return item.id
			}).indexOf(row.id);
			UIkit.modal.confirm(`<p class="uk-text-large">Do you really want to ${row.is_deleted === '0' ? 'deactivate' : 'activate'} <strong>${row.name}</strong>?</p>`, {
				'escClose': false,
				'labels': {
					'cancel': 'Cancel',
					'ok': row.is_deleted === '0' ? 'Deactivate' : 'Activate'
				}
			}).then(async function () {
				// Updated
				await self.$store.dispatch('organization/editIsActiveOrganization', {id: row.id, is_deleted: row.is_deleted === '0' ? '1' : '0'})
				// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
				setTimeout(() => {
					// console.log(self.listItemTable.data[index].is_deleted = '1')
					row.is_deleted === '0' ? self.rows[index].is_deleted = '1' : self.rows[index].is_deleted = '0'
					// self.listItemTable.data.splice(index, 1);
					// self.loadItems(false);
				}, 300);
			}, function () {
				// CANCEL DELETE
				// console.log('Rejected.')
			});
			// this.$store.commit('masterdata/deleteSc')
			// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
			// console.log(idx)
		},
		onRowDoubleClick(){
			alert('open details')
		},
		mDetails(){
			this.$nuxt.$router.push('organization/details/add')
		},
		mEdit(item){
			this.$nuxt.$router.push(`organization/details/${item.id}`)
			// console.log(item)
		},
		onSearch(params) {
			this.updateParams({searchVal: params.searchTerm, page: 1});
			if (params.searchTerm.length > 2){
				this.loadItems(true);
			}else if (params.searchTerm.length === 0){
				this.loadItems(false)
			}
			// params.searchTerm - term being searched for
			// params.rowCount - number of rows that match search
		},
		updateParams(newProps) {
			this.serverParams = Object.assign({}, this.serverParams, newProps);
			// console.log(this.serverParams)
		},
		// load items is what brings back the rows from server
		loadItems(isSearch) {
			if(isSearch){
				this.$store.dispatch('organization/getListSearchOrganization', this.serverParams)
					.then((res) => {
						this.totalRecords = res.paginate.totalRow
						this.rows = res.data
						this.isLoading = false
					})
			}
			else{
				this.$store.dispatch('organization/getListOrganization', this.serverParams)
					.then((res) => {
						this.totalRecords = res.paginate.totalRow
						this.rows = res.data
						this.isLoading = false
						// console.log(res)
					})
			}

		},
		onPageChange(params){
			this.updateParams({page: params.currentPage});
			this.loadItems(false);
		},
		onSortChange(params){
			this.updateParams({
				sort: {
					type: params[0].type,
					field: params[0].field,
				},
			});
			console.log(this.serverParams)
			this.loadItems(false);
		},
		async onColumnFilter(params) {
			// console.log(params.columnFilters)
			// const entries = Object.entries(params.columnFilters)

			// entries.forEach((element) => {
			// 	console.log(element[1].length)
			// })
			// console.log(entries)

			// if (await entries.some(x => x[1].length > 2 && x[0] !== 'register_type')) {
			// 	params.columnFilters = this.enc(JSON.stringify(params.columnFilters))
				this.updateParams(params);
				this.loadItems(false);
			// } else {
			// 	this.isLoading = false
			// }

			// params.columnFilters - filter values for each column in the following format:
			// {field1: 'filterTerm', field3: 'filterTerm2')
			// console.log(params)
		},
		onPerPageChange(params){
			this.updateParams({perPage: params.currentPerPage});
			this.loadItems(false);
		},
		onSelectChanged (params) {
			const selectedIds = params.selectedRows.reduce((acc, row) => {
				acc.push(row.id);
				return acc;
			}, []);
			// console.log(params.selectedRows);
			// console.log(selectedIds);
		},
	},
	created(){
	}
}
</script>

<style lang="scss">
	@import '~scss/plugins/vue-good-table.scss';
</style>
