<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
<!--							{{getState}}-->
						</legend>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.name">
									<label>Article Type Name </label>
								</ScInput>
							</div>
							<div>
								<label class="uk-form-label">
									Content Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.content_type_id"
											:options="clistContentType"
											:settings="{ 'width': '100%', 'placeholder': 'Select a content type...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
						</div>
						<div v-if="mData.content_type_id !== '7'" class="uk-child-width-2-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.color" read-only>
									<label>Article Type Color</label>
								</ScInput>
							</div>
							<client-only>
							<div>
								<color-picker
									theme="light"
									:color="color"
									:sucker-hide="false"
									:sucker-canvas="suckerCanvas"
									:sucker-area="suckerArea"
									@changeColor="changeColor"
									@openSucker="openSucker"
								/>
							</div>
							</client-only>
<!--							<div>-->
<!--								<ScInput v-model="mData.image_url" read-only>-->
<!--									<label>Disaster Image <small>*auto generated</small></label>-->
<!--								</ScInput>-->
<!--							</div>-->
						</div>
<!--						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Content Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.content_type_id"-->
<!--											:options="clistContentType"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a content type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Disaster Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.disaster_id"-->
<!--											:options="clistDisaster"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a disaster type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Article Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.article_type_id"-->
<!--											:options="clistArticleType"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a disaster type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<ScInput v-model="mData.publish_date" v-flatpickr="dtPicker">-->
<!--									<label>Publish Date</label>-->
<!--								</ScInput>-->
<!--							</div>-->
<!--							<div>-->
<!--								<ScInput v-model="mData.image" read-only>-->
<!--									<label>Image Content <small>*auto generated</small></label>-->
<!--								</ScInput>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Content-->
<!--								</label>-->
<!--								<client-only>-->
<!--									<div v-quill:myQuillEditor="editorOption"-->
<!--										 class="quill-editor"-->
<!--										 :content="mData.content"-->
<!--										 @change="onEditorChange($event)"-->
<!--										 @blur="onEditorBlur($event)"-->
<!--										 @focus="onEditorFocus($event)"-->
<!--										 @ready="onEditorReady($event)"-->
<!--									>-->
<!--									</div>-->
<!--								</client-only>-->
<!--							</div>-->
<!--						</div>-->
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
<!--			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image disaster; pos: left">-->
<!--				<i class="mdi mdi-image-plus"></i>-->
<!--			</a>-->
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	// import { mapState } from 'vuex'
	import colorPicker from '@caohenghu/vue-colorpicker'
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import Flatpickr from '~/plugins/flatpickr'
	import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		middleware: 'router-auth',
		components: {
			colorPicker,
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			const listContentType = await context.$axios.get(`cms/masterdata/content-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listDisaster = await context.$axios.get(`cms/masterdata/disaster/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listArticleType = await context.$axios.get(`cms/masterdata/article-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// console.log(listContentType.data)
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					listContentType: listContentType.data.data,
					// listDisaster: listDisaster.data.data,
					// listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`cms/masterdata/article-type/list/id=${context.params.id}/page=1/limit=1/column-sort=id/sort=desc`)
				editedIndex = 1
				// console.log(listData.data.data[0])
				return {
					listData: listData.data.data[0],
					listContentType: listContentType.data.data,
					// listDisaster: listDisaster.data.data,
					// listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){
			// console.log(Object.entries(route.query).length === 0)
		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			color: '#59c7f9',
			suckerCanvas: null,
			suckerArea: [],
			isSucking: false,
			canDownload: false,
			mData: {
				name: '',
				color: null,
				// image_url: '',
				// content: '',
				content_type_id: '',
				// disaster_id: '',
				// article_type_id: '',
				// publish_date: ''
			},
		}),
		mounted() {
			if (this.editedIndex !== 1){
				if (this.$store.state.masterdata.dataArticleType !== null){
					this.mData = this.$store.state.masterdata.dataArticleType
				}
			}
		},
		created	(){
			// console.log(this.listData)
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.name,
					color: this.listData.color,
					// content: this.listData.content,
					content_type_id: this.listData.content_type_id.toString(),
					// disaster_id: this.listData.disaster_id.toString(),
					// article_type_id: this.listData.article_type_id.toString(),
					// publish_date: this.listData.publish_date
				}
			}
			// console.log(this.mData)
		},
		computed: {
			dtPicker () {
				let self = this;
				return {
					enableTime: true,
					time_24hr: true,
					minDate: self.$moment()._d,
					plugins: [new confirmDatePlugin({
						confirmIcon: "<i class='mdi mdi-check'></i>",
						confirmText: ""
					})],
					dateFormat: "Y-m-d H:i"
				}
			},
			clistContentType () {
				return this.listContentType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			clistDisaster () {
				return this.listDisaster.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			clistArticleType () {
				return this.listArticleType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Article Type' : 'Edit Article Type'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"/>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"/>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"/>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"/>'
			},
		},
		watch: {
			mData: {
				handler(val){
					// console.log(val)
					this.$store.commit('masterdata/savedStateAddArticleType', {name: val.name})
					// this.testPersisted()
					// do stuff
				},
				deep: true
			}
		},
		methods: {
			changeColor(color) {
				const { r, g, b, a } = color.rgba
				this.color = `rgba(${r}, ${g}, ${b}, ${a})`
				this.mData.color = color.hex
				// console.log(color.hex)
			},
			openSucker(isOpen) {
				if (isOpen) {
					// ... canvas be created
					// this.suckerCanvas = canvas
					// this.suckerArea = [x1, y1, x2, y2]
				} else {
					// this.suckerCanvas && this.suckerCanvas.remove
				}
			},
			openModal(){
				UIkit.modal('#getCroppedCanvasModal').show();
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteContent', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/content_type')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add article type success'
				let textNotifFailed = 'Add article type failed'
				let actions = 'addArticleType'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update article type success'
					textNotifFailed = 'Update article type failed'
					actions = 'editArticleType'
				}
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(res.message, false, 'success')
							this.$nuxt.$router.push('/masterdata/article_type')
							// console.log(res.success)
						}else{
							// console.log(res.message)
							this.showNotification(res.message, false, 'danger')
						}
					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
