<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Preview Mapping
					</h1>
					<span class="uk-text-muted">
						<nuxt-link to="/mapping">Mapping Bumikita</nuxt-link> > Preview Mapping
					</span>
				</div>
				<div class="sc-actions uk-margin-left uk-visible@s">
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-pencil-outline"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<div class="uk-grid uk-grid-divider uk-grid" data-uk-grid>
						<div class="uk-width-3-4@l">
							<div class="uk-flex uk-flex-wrap" data-uk-margin>
								<nuxt-link :to="`../../details/${$route.params.id}`" class="sc-button sc-button-flex uk-margin-small-right">
									<i class="mdi mdi-pencil-outline uk-margin-small-right"></i>
									Edit
								</nuxt-link>
								<div class="uk-button-group uk-margin-small-right uk-visible@m">
									<button @click="verifiedItem(1)" class="sc-button" :class="mData.is_verified === 2 ? 'sc-button-success' : mData.is_verified === 0 ? 'sc-button-success' : 'sc-button-disabled'">
										Verified
									</button>
<!--									<button class="sc-button">-->
<!--										Start Progress-->
<!--									</button>-->
									<button @click="verifiedItem(2)" class="sc-button" :class="mData.is_verified === 1 ? 'sc-button-danger' : mData.is_verified === 0 ? 'sc-button-danger' : 'sc-button-disabled'">
										Rejected
									</button>
								</div>
<!--								<button class="sc-button sc-button-flex">-->
<!--									Log Time-->
<!--								</button>-->
							</div>
							<hr>
							<section>
								<span class="sc-color-secondary">Title:</span>
								<div class="uk-margin-small-top">
									{{mData.title}}
								</div>
							</section>
							<hr>
							<section>
								<span class="sc-color-secondary">Subtitle:</span><br>
								<div v-html="mData.subtitle">
								</div>
<!--								<button class="sc-button sc-button-small sc-button-outline">-->
<!--									Add Comment-->
<!--								</button>-->
							</section>
							<hr>
							<section>
								<span class="sc-color-secondary">Description:</span><br>
								<div v-html="mData.description">
								</div>
								<!--								<button class="sc-button sc-button-small sc-button-outline">-->
								<!--									Add Comment-->
								<!--								</button>-->
							</section>
							<hr>
							<section>
								<span class="sc-color-secondary">Needs:</span><br>
									<div v-for="(data, index) in (mData.needs.split(','))" :key="index" class="m-5 uk-label uk-label-outline" v-html="data">
								</div>
								<!--								<button class="sc-button sc-button-small sc-button-outline">-->
								<!--									Add Comment-->
								<!--								</button>-->
							</section>
							<hr>
							<section>
								<span class="sc-color-secondary">Access to location:</span><br>
								<div v-for="(data, index) in (mData.access_to_location.split(','))" :key="index" class="m-5 uk-label uk-label-outline" v-html="data">
								</div>
								<!--								<button class="sc-button sc-button-small sc-button-outline">-->
								<!--									Add Comment-->
								<!--								</button>-->
							</section>
							<hr>
							<section>
								<client-only>
									<GmapMap
										:center="map1.center"
										:zoom="map1.zoom"
										:options="map1.options"
										class="sc-gmap"
									>
										<GmapMarker
											v-for="m in markers"
											:key="m.id"
											:position="m.position"
											:title="m.title"
											:clickable="true"
											:icon="markerIcon"
										/>
									</GmapMap>
								</client-only>
							</section>
							<hr>

<!--							<section>-->
<!--								<span class="sc-color-secondary">Image Preview:</span><br>-->
<!--								<div>-->
<!--&lt;!&ndash;									<img :src="`https://img.topskor.id/resize.php?src=${mData.content_image}&w=300`" alt="false">&ndash;&gt;-->
<!--									<img v-if="mData.file.split('.').pop() === 'jpg'" :src="$store.state.setting.pathImagesReportIndividual+mData.file" alt="alt">-->
<!--									<video v-else width="320" height="240" controls>-->
<!--										<source :src="$store.state.setting.pathImagesReportIndividual+mData.file" type="video/mp4">-->
<!--&lt;!&ndash;										<source src="movie.ogg" type="video/ogg">&ndash;&gt;-->
<!--										Your browser does not support the video tag.-->
<!--									</video>-->
<!--								</div>-->
<!--							</section>-->
						</div>
						<div class="uk-width-1-4@l">
							<span class="sc-color-secondary">Details</span>
							<ul class="uk-list uk-list-divider uk-margin-small-top">
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-information-outline"></i>
									</div>
									<div class="sc-list-body">
										<div>
											<span class="sc-color-secondary uk-margin-small-right">Status:</span>
<!--											<span class="uk-label" :class="[statusLabel(mData.is_verified)]">{{statusLabelText(mData.is_verified)}}</span>-->
											<span class="uk-label uk-label-outline">proses</span>
										</div>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-star-outline"></i>
									</div>
									<div class="sc-list-body">
										<div>
											<span class="sc-color-secondary uk-margin-small-right">Priority:</span>
<!--											<span class="uk-label" :class="[priorityLabel(issue.priority)]"> {{ issue.priority }}</span>-->
											<span class="uk-label" :class="[priorityLabel('minor')]"> issue priority</span>
										</div>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-grid"></i>
									</div>
									<div class="sc-list-body">
										<div>
											<span class="sc-color-secondary uk-margin-small-right">Category:</span>
<!--																						<span class="uk-label" :class="[priorityLabel(issue.priority)]"> {{ issue.priority }}</span>-->
											<span class="uk-label uk-label-outline"> {{mData.category}}</span>
										</div>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<div class="sc-avatar-wrapper">
											<img :src="mData.author_image" alt="alt" class="sc-avatar">
										</div>
									</div>
									<div class="sc-list-body">
<!--										<span class="sc-text-semibold">{{ issue.user }}</span>-->
										<span class="sc-text-semibold">{{mData.author_name}}</span>
										<span class="sc-color-secondary">Author</span>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-clock-outline"></i>
									</div>
									<div class="sc-list-body">
										{{ $moment(mData.created_at).format('YYYY-MM-DD') }}
										<span class="sc-color-secondary">Created</span>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-progress-clock"></i>
									</div>
									<div class="sc-list-body">
										{{ mData.updated_at !== 'Invalid date' ? mData.updated_at : 'No Date' }}
										<span class="sc-color-secondary">Modified</span>
									</div>
								</li>
							</ul>
							<hr>
<!--							<span class="sc-color-secondary">Time Tracking</span>-->
<!--							<ul class="uk-list uk-margin-small-top">-->
<!--								<li>-->
<!--									<ScProgressLinear class="uk-width-1-1" size="md">-->
<!--										<template #label>-->
<!--											<ScProgressLabel class="uk-text-left">-->
<!--												Estimated: 4d-->
<!--											</ScProgressLabel>-->
<!--										</template>-->
<!--										<ScProgressBar :value="100" color="md-bg-light-green-600"></ScProgressBar>-->
<!--									</ScProgressLinear>-->
<!--								</li>-->
<!--								<li>-->
<!--									<ScProgressLinear class="uk-width-1-1" size="md">-->
<!--										<template #label>-->
<!--											<ScProgressLabel class="uk-text-left">-->
<!--												Logged: 1d-->
<!--											</ScProgressLabel>-->
<!--										</template>-->
<!--										<ScProgressBar :value="25" color="md-bg-orange-800"></ScProgressBar>-->
<!--									</ScProgressLinear>-->
<!--								</li>-->
<!--							</ul>-->
						</div>
					</div>
				</ScCardBody>
			</ScCard>
		</div>
	</div>
</template>

<script>
if(process.client) {
	require('~/plugins/gmaps')
}

	import ScAvatar from '~/components/Avatar'
import { ScProgressLinear, ScProgressBar, ScProgressLabel } from '~/components/progress'
export default {
	components: {
		ScAvatar,
		ScProgressLinear,
		ScProgressBar,
		ScProgressLabel
	},
	async asyncData (context) {
		let listData = await context.$axios.get(`cms/mapping/list/mapping-id=${context.params.id}/page=1/limit=10/column-sort=id/sort=desc`)
		console.log(listData.data)
		return {
			listData: listData.data.data[0],
		}
	},
	data: () => ({
		map1: {
			center: {
				lat: 41.9027835,
				lng: 12.4963655
			},
			zoom: 13
		},
		markerIcon: require('~/assets/img/map-marker-main.svg'),
		markers: [
			{
				id: 1,
				title: 'Romes Colosseum',
				position: {
					lat: 41.8902102,
					lng: 12.4922309
				}
			},
			// {
			// 	id: 2,
			// 	title: 'Pantheon',
			// 	position: {
			// 		lat: 41.8986108,
			// 		lng: 12.4768729
			// 	}
			// }
		],
		mData: {
			title: '',
			subtitle: '',
			category:'',
			type: '',
			description: '',
			user_id: '',
			author_image: '',
			needs: '',
			created_at: '',
			updated_at: '',
			is_verified: '',
			author_name: '',
			access_to_location: '',
		},
	}),
	created(){
		this.markers[0].position.lat = parseFloat(this.listData.coordinate.split('@')[0])
		this.markers[0].position.lng = parseFloat(this.listData.coordinate.split('@')[1])
		this.map1.center.lat = parseFloat(this.listData.coordinate.split('@')[0])
		this.map1.center.lng = parseFloat(this.listData.coordinate.split('@')[1])
		this.mData = {
			id: this.listData.id,
			title: this.listData.title,
			subtitle: this.listData.subtitle,
			category: this.listData.category,
			type: this.listData.type,
			description: this.listData.description,
			user_id: this.listData.user_id,
			author_image: this.listData.author_image,
			needs: this.listData.needs,
			created_at: this.listData.created_at,
			updated_at: this.listData.updated_at,
			is_verified: this.listData.is_verified,
			author_name: this.listData.author_name,
			access_to_location: this.listData.access_to_location,
			coordinate: this.listData.coordinate,
		}

	},
	methods: {
		verifiedItem(status){
			// console.log(this.$route.params.content_id)
			// console.log(this.mData)
			const self = this;
			// let index = this.rows.map(function (item) {
			// 	return item.content_id
			// }).indexOf(row.content_id);
			UIkit.modal.confirm(`<p class="uk-text-large">Do you really want to ${status === 1 ? 'verified' : 'rejected'} <strong>${self.mData.title}</strong>?</p>`, {
				'escClose': false,
				'labels': {
					'cancel': 'Cancel',
					'ok': status === 1 ? 'Verified' : 'Rejected'
				}
			}).then(async function () {
				// Updated
				await self.$store.dispatch('report/updateIsVerifiedReportIndividual', {id: self.mData.id, user_id: self.mData.user_id, is_verified: status})
				// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
				setTimeout(() => {
					self.mData.is_verified = status
					// self.listItemTable.data.splice(index, 1);
					// self.loadItems(false);
				}, 300);
			}, function () {
				// CANCEL DELETE
				// console.log('Rejected.')
			});
			// this.$store.commit('masterdata/deleteSc')
			// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
			// console.log(idx)
		},
		priorityLabel (priority) {
			let priorityClass = null;
			switch (priority) {
			case 'minor':
				priorityClass = 'uk-label-success';
				break;
			case 'major':
				priorityClass = '';
				break;
			case 'critical':
				priorityClass = 'uk-label-warning';
				break;
			case 'blocker':
				priorityClass = 'uk-label-danger';
				break;
			case 'outline':
				priorityClass = 'uk-label-outline';
				break;
			default:
			}
			return priorityClass;
		},
		statusLabel (priority) {
			let labelClass = null;
			switch (priority) {
				case 0:
					labelClass = '';
					break;
				case 1:
					labelClass = 'uk-label-success';
					break;
				case 2:
					labelClass = 'uk-label-danger';
					break;
				// case 'blocker':
				// 	priorityClass = 'uk-label-danger';
				// 	break;
				default:
			}
			return labelClass;
		},
		statusLabelText (priority) {
			let statusLabelText = null;
			switch (priority) {
				case 0:
					statusLabelText = 'pending';
					break;
				case 1:
					statusLabelText = 'verified';
					break;
				case 2:
					statusLabelText = 'rejected';
					break;
				// case 'blocker':
				// 	priorityClass = 'uk-label-danger';
				// 	break;
				default:
			}
			return statusLabelText;
		},
	},
}
</script>
