<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
<!--							{{getState}}-->
						</legend>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.name">
									<label>Disaster Name</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.image_url" read-only>
									<label>Disaster Image <small>*auto generated</small></label>
								</ScInput>
							</div>
						</div>
<!--						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Content Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.content_type_id"-->
<!--											:options="clistContentType"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a content type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Disaster Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.disaster_id"-->
<!--											:options="clistDisaster"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a disaster type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Article Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.article_type_id"-->
<!--											:options="clistArticleType"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a disaster type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<ScInput v-model="mData.publish_date" v-flatpickr="dtPicker">-->
<!--									<label>Publish Date</label>-->
<!--								</ScInput>-->
<!--							</div>-->
<!--							<div>-->
<!--								<ScInput v-model="mData.image" read-only>-->
<!--									<label>Image Content <small>*auto generated</small></label>-->
<!--								</ScInput>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Content-->
<!--								</label>-->
<!--								<client-only>-->
<!--									<div v-quill:myQuillEditor="editorOption"-->
<!--										 class="quill-editor"-->
<!--										 :content="mData.content"-->
<!--										 @change="onEditorChange($event)"-->
<!--										 @blur="onEditorBlur($event)"-->
<!--										 @focus="onEditorFocus($event)"-->
<!--										 @ready="onEditorReady($event)"-->
<!--									>-->
<!--									</div>-->
<!--								</client-only>-->
<!--							</div>-->
<!--						</div>-->
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image disaster; pos: left">
				<i class="mdi mdi-image-plus"></i>
			</a>
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
<!--			<a href="javascript:void(0)" @click="testPersisted" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">-->
<!--				<i class="mdi mdi-check"></i>-->
<!--			</a>-->
		</div>
		<UploadFilePercentage/>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	// import { mapState } from 'vuex'
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import Flatpickr from '~/plugins/flatpickr'
	import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
	import UploadFilePercentage from "../../../../components/UploadFilePercentage";
	import { ScProgressLinear, ScProgressBar, ScProgressLabel } from '~/components/progress'
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		middleware: 'router-auth',
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
			UploadFilePercentage,
			ScProgressLinear,
			ScProgressBar,
			ScProgressLabel,
		},
		async asyncData(context){
			// console.log(context.params)
			// const listContentType = await context.$axios.get(`cms/masterdata/content-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listDisaster = await context.$axios.get(`cms/disaster/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listArticleType = await context.$axios.get(`cms/masterdata/article-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// console.log(listContentType.data)
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					// listContentType: listContentType.data.data,
					// listDisaster: listDisaster.data.data,
					// listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`cms/disaster/list/disaster-id=${context.params.id}/page=1/limit=1/column-sort=id/sort=desc`)
				editedIndex = 1
				// console.log(listData.data.data[0])
				return {
					listData: listData.data.data[0],
					// listContentType: listContentType.data.data,
					// listDisaster: listDisaster.data.data,
					// listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){

			// console.log(Object.entries(route.query).length === 0)

		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			canDownload: false,
			// content: '<h1>Header</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deleniti ducimus, eos fugit, mollitia neque praesentium quia quisquam quos sapiente voluptatem voluptatibus voluptatum. Assumenda consectetur deleniti doloremque fuga harum illum molestiae nisi possimus quidem vero. A accusantium alias aliquam animi cum doloremque eos est facilis illo, illum inventore ipsam itaque laboriosam maiores modi mollitia necessitatibus nemo non omnis perferendis quam quia, repellendus rerum vel veritatis voluptas voluptate?</p><p><a href="https://themeforest.com/" target="_blank">themeforest.com</a></p>',
			editorOption: {
				placeholder: 'Write a some content here...',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block'],
						[{ 'header': 1 }, { 'header': 2 }],
						[{ 'list': 'ordered' }, { 'list': 'bullet' }],
						[{ 'script': 'sub' }, { 'script': 'super' }],
						[{ 'indent': '-1' }, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'size': ['small', false, 'large', 'huge'] }],
						[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
						[{ 'font': [] }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean'],
						['link', 'image', 'video']
					],
					imageResize: true
				}
			},
			mData: {
				name: '',
				image_url: '',
				// content: '',
				// content_type_id: '',
				// disaster_id: '',
				// article_type_id: '',
				// publish_date: ''
			},
		}),
		mounted() {
			// this.modalPercentage = UIkit.modal('#modal-center', { bgClose: false, escClose: false, modal: false, keyboard:false})
			if (this.editedIndex !== 1){
				if (this.$store.state.disaster.dataAddDisaster !== null){
					this.mData = this.$store.state.disaster.dataAddDisaster
				}
			}
		},
		created	(){
			// console.log(this.listData)
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.name,
					image_url: this.listData.image_url,
				}
			}
		},
		computed: {
			dtPicker () {
				let self = this;
				return {
					enableTime: true,
					time_24hr: true,
					minDate: self.$moment()._d,
					plugins: [new confirmDatePlugin({
						confirmIcon: "<i class='mdi mdi-check'></i>",
						confirmText: ""
					})],
					dateFormat: "Y-m-d H:i"
				}
			},
			clistContentType () {
				return this.listContentType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			clistDisaster () {
				return this.listDisaster.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			clistArticleType () {
				return this.listArticleType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Disaster' : 'Edit Disaster'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		watch: {
			mData: {
				handler(val){
					// console.log(val)
					this.$store.commit('disaster/savedStateAddDisaster', {
						name: val.name === undefined ? '' : val.name,
						image_url: val.image_url === undefined ? '' : val.image_url
					})
					// this.testPersisted()
					// do stuff
				},
				deep: true
			}
		},
		methods: {
			// mModal(num){
			// 		if (num){
			// 			UIkit.modal('#modal-center', {
			// 				bgClose: false,
			// 				escClose: true,
			// 				modal: false,
			// 				keyboard: false
			// 			}).show();
			// 		}else{
			// 			UIkit.modal('#modal-center').hide();
			// 		}
			// },
			testPersisted(){
				// console.log('nice')
				// console.log(this.$store.state.masterdata.dataAddDisaster)
				// this.sampel  += 1
				// this.$store.commit('masterdata/savedStateAddDisaster', 1)
				console.log(this.$store.state.disaster.tempImageFile)
			},
			addImage(){
				location.href = '/disaster/image_cropper'
				// this.$nuxt.$router.push(`/disaster/image_cropper`)
				this.$store.commit('disaster/updateStatusDisaster', this.$route.params.id)
			},
			openModal(){
				UIkit.modal('#getCroppedCanvasModal').show();
			},
			onEditorBlur (editor) {
				// console.log('editor blur!', editor)
			},
			onEditorFocus (editor) {
				// console.log('editor focus!', editor)
			},
			onEditorReady (editor) {
				// console.log('editor ready!', editor)
			},
			onEditorChange (event) {
				// console.log('editor change!', event.editor, event.html, event.text);
				this.mData.content = event.html
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteContent', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/disaster')
				this.mData = {}
			},
			async submit() {
				// let modal = UIkit.modal('#modal-center')
				// console.log(this.$store.state.disaster.tempImageFile, this.$route.params.id)
				let textNotifSucced = 'Add disaster success'
				let textNotifFailed = 'Add disaster failed'
				let actions = 'addDisaster'
				if (this.editedIndex !== -1) {
					textNotifSucced = 'Update disaster success'
					textNotifFailed = 'Update disaster failed'
					actions = 'editDisaster'
				}
				if ((this.$store.state.disaster.tempImageFile === null && this.$route.params.id === 'add') || this.mData.image_url === undefined) {
					this.showNotification('Image not set, please select the image', false, 'danger')
				} else {
					this.modalPercentage('show')
					// console.log(this.$store.state.auth.user)
					this.mData.images = this.$store.state.disaster.tempImageFile
					// console.log(this.$store.state.masterdata.tempImageFile
					// console.log(this.mData)
					await this.$store.dispatch('disaster/' + actions, this.mData)
						.then(async(res) => {
							if (res.success) {
								this.modalPercentage('hide')
								this.mData = {}
								this.showNotification(res.message, false, 'success')
								// this.$store.commit('disaster/clearDataDisaster')
								this.$nuxt.$router.push('/disaster')
								// console.log(res.success)
							} else {
								// console.log(res.message)
								this.showNotification(res.message, false, 'danger')
							}
						})
						.catch((err) => {
							console.log(err)
						})
				}
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
