<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
<!--							{{getState}}-->
						</legend>
						<div class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.name">
									<label>City Name</label>
								</ScInput>
							</div>
<!--							<div>-->
<!--								<ScInput v-model="mData.image_url" read-only>-->
<!--									<label>Disaster Image <small>*auto generated</small></label>-->
<!--								</ScInput>-->
<!--							</div>-->
						</div>
<!--						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Content Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.content_type_id"-->
<!--											:options="clistContentType"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a content type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Disaster Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.disaster_id"-->
<!--											:options="clistDisaster"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a disaster type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Article Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.article_type_id"-->
<!--											:options="clistArticleType"-->
<!--											:settings="{ 'width': '100%', 'placeholder': 'Select a disaster type...', allowClear: true }"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<ScInput v-model="mData.publish_date" v-flatpickr="dtPicker">-->
<!--									<label>Publish Date</label>-->
<!--								</ScInput>-->
<!--							</div>-->
<!--							<div>-->
<!--								<ScInput v-model="mData.image" read-only>-->
<!--									<label>Image Content <small>*auto generated</small></label>-->
<!--								</ScInput>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>-->
<!--							<div>-->
<!--								<label class="uk-form-label">-->
<!--									Content-->
<!--								</label>-->
<!--								<client-only>-->
<!--									<div v-quill:myQuillEditor="editorOption"-->
<!--										 class="quill-editor"-->
<!--										 :content="mData.content"-->
<!--										 @change="onEditorChange($event)"-->
<!--										 @blur="onEditorBlur($event)"-->
<!--										 @focus="onEditorFocus($event)"-->
<!--										 @ready="onEditorReady($event)"-->
<!--									>-->
<!--									</div>-->
<!--								</client-only>-->
<!--							</div>-->
<!--						</div>-->
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
<!--			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image disaster; pos: left">-->
<!--				<i class="mdi mdi-image-plus"></i>-->
<!--			</a>-->
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	// import { mapState } from 'vuex'
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import Flatpickr from '~/plugins/flatpickr'
	import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		middleware: 'router-auth',
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			// console.log(context.params)
			// const listContentType = await context.$axios.get(`cms/masterdata/content-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listDisaster = await context.$axios.get(`cms/masterdata/disaster/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listArticleType = await context.$axios.get(`cms/masterdata/article-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// console.log(listContentType.data)
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					// listContentType: listContentType.data.data,
					// listDisaster: listDisaster.data.data,
					// listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`cms/masterdata/city/list/id=${context.params.id}/page=1/limit=1/column-sort=id/sort=asc`)
				editedIndex = 1
				// console.log(listData.data.data[0])
				return {
					listData: listData.data.data[0],
					// listContentType: listContentType.data.data,
					// listDisaster: listDisaster.data.data,
					// listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){

			// console.log(Object.entries(route.query).length === 0)

		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			mData: {
				name: '',
			},
		}),
		mounted() {
			//
			// if (this.$store.state.masterdata.dataContentType !== null){
			// 	this.mData = this.$store.state.masterdata.dataContentType
			// }
		},
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.name,
				}
			}
		},
		computed: {
			formTitle(){
				return this.editedIndex === -1 ? 'Add City' : 'Edit City'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"/>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"/>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"/>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"/>'
			},
		},
		// watch: {
		// 	mData: {
		// 		handler(val){
		// 			// console.log(val)
		// 			this.$store.commit('masterdata/savedStateAddContentType', {name: val.name})
		// 			// this.testPersisted()
		// 			// do stuff
		// 		},
		// 		deep: true
		// 	}
		// },
		methods: {
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/deleteCity', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/city')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add city success'
				let textNotifFailed = 'Add city failed'
				let actions = 'addCity'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update city success'
					textNotifFailed = 'Update city failed'
					actions = 'editCity'
				}
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(res.message, false, 'success')
							this.$nuxt.$router.push('/masterdata/city')

							// console.log(res.success)
						}else{
							// console.log(res.message)
							this.showNotification(res.message, false, 'danger')
						}
					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
