<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
<!--							{{getState}}-->
						</legend>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.name">
									<label>Banner Name</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.image_url" read-only>
									<label>Banner Image <small>*auto generated</small></label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<label class="uk-form-label">
									Category
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.category"
											:options="['footer', 'beranda']"
											:settings="{ 'width': '100%', 'placeholder': 'Select a category...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<label class="uk-form-label">
									Position
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.position"
											:options="[1, 2, 3, 4, 5, 6, 7, 8]"
											:settings="{ 'width': '100%', 'placeholder': 'Select a position...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
						</div>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<label class="uk-form-label">
									Organization Name
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.organization_id"
											:options="clistOrganization"
											:settings="{ 'width': '100%', 'placeholder': 'Select a organization...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<ScInput v-model="mData.link_image">
									<label>Banner Link Image</label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScTextarea v-model="mData.description" :placeholder="`Enter description here ...`"></ScTextarea>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image banner; pos: left">
				<i class="mdi mdi-image-plus"></i>
			</a>
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
<!--			<a href="javascript:void(0)" @click="testPersisted" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">-->
<!--				<i class="mdi mdi-check"></i>-->
<!--			</a>-->
		</div>
		<UploadFilePercentage/>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	// import { mapState } from 'vuex'
	import ProgressPercentage from '~/components/UploadFilePercentage'
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import Flatpickr from '~/plugins/flatpickr'
	import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
	import UploadFilePercentage from "../../../../components/UploadFilePercentage";
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		middleware: 'router-auth',
		components: {
			UploadFilePercentage,
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
			ProgressPercentage
		},
		async asyncData(context){
			// console.log(context.params.id)
			const listOrganization = await context.$axios.get(`cms/organization/list/is-verified=1/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listDisaster = await context.$axios.get(`cms/disaster/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// const listArticleType = await context.$axios.get(`cms/masterdata/article-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// console.log(listContentType.data)
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					listOrganization: listOrganization.data.data,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`cms/banners/list/id=${context.params.id}/page=1/limit=1/column-sort=id/sort=desc`)
				editedIndex = 1
				// console.log(listData.data.data[0])
				return {
					listData: listData.data.data[0],
					listOrganization: listOrganization.data.data,
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){
			// console.log(Object.entries(route.query).length === 0)
		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			canDownload: false,
			// content: '<h1>Header</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deleniti ducimus, eos fugit, mollitia neque praesentium quia quisquam quos sapiente voluptatem voluptatibus voluptatum. Assumenda consectetur deleniti doloremque fuga harum illum molestiae nisi possimus quidem vero. A accusantium alias aliquam animi cum doloremque eos est facilis illo, illum inventore ipsam itaque laboriosam maiores modi mollitia necessitatibus nemo non omnis perferendis quam quia, repellendus rerum vel veritatis voluptas voluptate?</p><p><a href="https://themeforest.com/" target="_blank">themeforest.com</a></p>',
			mData: {
				name: '',
				image_url: '',
				description: '',
				position: '',
				category: '',
				link_image: '',
				organization_id: ''
			},
		}),
		mounted() {
			if (this.$store.state.banner.dataBanner !== null && this.$route.params.id === 'add'){
				this.mData = this.$store.state.banner.dataBanner
			}
		},
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.name,
					image_url: this.listData.images,
					description: this.listData.description,
					position: this.listData.position.toString(),
					category: this.listData.category,
					link_image: this.listData.link_image,
					organization_id: this.listData.organization_id.toString(),
				}
			}
		},
		computed: {
			clistOrganization () {
				return this.listOrganization.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			dtPicker () {
				let self = this;
				return {
					enableTime: true,
					time_24hr: true,
					minDate: self.$moment()._d,
					plugins: [new confirmDatePlugin({
						confirmIcon: "<i class='mdi mdi-check'></i>",
						confirmText: ""
					})],
					dateFormat: "Y-m-d H:i"
				}
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Admin' : 'Edit Admin'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		watch: {
			mData: {
				handler(val){
					// console.log(val)
					this.$store.commit('banner/savedStateAddBanner', {
						name: val.name,
						image_url: val.image_url,
						position: val.position,
						category: val.category,
						link_image: val.link_image,
						description: val.description,
					})
				},
				deep: true
			}
		},
		methods: {
			testPersisted(){
				// console.log('nice')
				// console.log(this.$store.state.masterdata.dataAddDisaster)
				// this.sampel  += 1
				// this.$store.commit('masterdata/savedStateAddDisaster', 1)
				console.log(this.$store.state.banner.tempImageFile)
				console.log(this.$store.state.banner.dataBanner)
			},
			addImage(){
				this.$store.commit('banner/updateStatusBanner', this.$route.params.id)
				location.href = '/banner/image_cropper'
				// console.log(this.enc(JSON.stringify(this.mData)))
				// console.log(JSON.stringify(this.mData))
				// location.href = `/disaster/image_cropper`
			},
			openModal(){
				UIkit.modal('#getCroppedCanvasModal').show();
			},
			onEditorBlur (editor) {
				// console.log('editor blur!', editor)
			},
			onEditorFocus (editor) {
				// console.log('editor focus!', editor)
			},
			onEditorReady (editor) {
				// console.log('editor ready!', editor)
			},
			onEditorChange (event) {
				// console.log('editor change!', event.editor, event.html, event.text);
				this.mData.content = event.html
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteContent', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.mData = {}
				this.$store.commit('banner/clearData')
				this.$nuxt.$router.push('/banner')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add banner success'
				let textNotifFailed = 'Add banner failed'
				let actions = 'addBanner'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update banner success'
					textNotifFailed = 'Update banner failed'
					actions = 'editBanner'
				}
				if ((this.$store.state.banner.tempImageFile === null && this.$route.params.id === 'add') || this.mData.image_url === undefined){
					this.showNotification('Image not set, please select the image', false, 'danger')
				}else{
					UIkit.modal('#modal-center', { bgClose: false, escClose: false, modal: false, keyboard:false}).show();
					this.mData.images = this.$store.state.banner.tempImageFile
					// console.log(this.$store.state.masterdata.tempImageFile)
					// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
					console.log(this.mData)
					this.$store.dispatch('banner/'+actions, this.mData)
						.then((res) => {
							UIkit.modal('#modal-center').hide();
							if(res.success){
								this.mData = {}
								this.showNotification(res.message, false, 'success')
								this.$nuxt.$router.push('/banner')
							}else{
								this.showNotification(res.message, false, 'danger')
							}
						})
						.catch((err) => {
							console.log(err)
						})
				}
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
