<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Preview Content
					</h1>
					<span class="uk-text-muted">
						<nuxt-link to="/content">Content Bumikita</nuxt-link> > Preview Content
					</span>
				</div>
				<div class="sc-actions uk-margin-left uk-visible@s">
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-pencil-outline"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<div class="uk-grid uk-grid-divider uk-grid" data-uk-grid>
						<div class="uk-width-3-4@l">
							<div class="uk-flex uk-flex-wrap" data-uk-margin>
								<nuxt-link :to="`../../details/${$route.params.content_id}`" class="sc-button sc-button-flex uk-margin-small-right">
									<i class="mdi mdi-pencil-outline uk-margin-small-right"></i>
									Edit
								</nuxt-link>
								<div class="uk-button-group uk-margin-small-right uk-visible@m">
									<button @click="verifiedItem(1)" class="sc-button" :class="mData.is_verified === 2 ? 'sc-button-success' : mData.is_verified === 0 ? 'sc-button-success' : 'sc-button-disabled'">
										Verified
									</button>
<!--									<button class="sc-button">-->
<!--										Start Progress-->
<!--									</button>-->
									<button @click="verifiedItem(2)" class="sc-button" :class="mData.is_verified === 1 ? 'sc-button-danger' : mData.is_verified === 0 ? 'sc-button-danger' : 'sc-button-disabled'">
										Rejected
									</button>
								</div>
<!--								<button class="sc-button sc-button-flex">-->
<!--									Log Time-->
<!--								</button>-->
							</div>
							<hr>
							<section>
								<span class="sc-color-secondary">Title Content:</span>
								<div class="uk-margin-small-top">
									{{mData.content_title}}
								</div>
							</section>
							<div v-if="mData.content">
								<hr>
								<section>
									<span class="sc-color-secondary">Content Preview:</span><br>
									<div v-html="mData.content">

									</div>
									<!--								<button class="sc-button sc-button-small sc-button-outline">-->
									<!--									Add Comment-->
									<!--								</button>-->
								</section>
							</div>
							<hr>
							<section>
								<span class="sc-color-secondary">Image Preview:</span><br>
								<div>
<!--									<img :src="`https://img.topskor.id/resize.php?src=${mData.content_image}&w=300`" alt="false">-->
									<img :src="$store.state.setting.pathImagesContent+mData.content_image" alt="alt">
								</div>
							</section>
							<div v-if="mData.video_url">
								<hr>
								<section>
									<span class="sc-color-secondary">Video Preview:</span><br>
									<div>
										<!-- <img :src="`https://img.topskor.id/resize.php?src=${mData.content_image}&w=300`" alt="false">-->
										<iframe width="560" height="315" :src="mData.video_url.replace('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/')" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</section>
							</div>
						</div>
						<div class="uk-width-1-4@l">
							<span class="sc-color-secondary">Details</span>
							<ul class="uk-list uk-list-divider uk-margin-small-top">
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-information-outline"></i>
									</div>
									<div class="sc-list-body">
										<div>
											<span class="sc-color-secondary uk-margin-small-right">Status:</span>
											<span class="uk-label" :class="[statusLabel(mData.is_verified)]">{{statusLabelText(mData.is_verified)}}</span>
<!--											<span class="uk-label uk-label-outline">{{ issue.status }}</span>-->
										</div>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-star-outline"></i>
									</div>
									<div class="sc-list-body">
										<div>
											<span class="sc-color-secondary uk-margin-small-right">Priority:</span>
<!--											<span class="uk-label" :class="[priorityLabel(issue.priority)]"> {{ issue.priority }}</span>-->
											<span class="uk-label" :class="[priorityLabel('minor')]"> issue priodrity</span>
										</div>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<div class="sc-avatar-wrapper">
											<img :src="mData.author_image === 'https://cdnx.bumikita.or.id/organization/image300.png' ? 'https://cdnx.bumikita.or.id/assets/images/organization/image300.png' : mData.author_image" alt="alt" class="sc-avatar">
										</div>
									</div>
									<div class="sc-list-body">
<!--										<span class="sc-text-semibold">{{ issue.user }}</span>-->
										<span class="sc-text-semibold">{{mData.author}}</span>
										<span class="sc-color-secondary">Author</span>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-clock-outline"></i>
									</div>
									<div class="sc-list-body">
										{{ $moment(mData.created_at).format('YYYY-MM-DD') }}
										<span class="sc-color-secondary">Created</span>
									</div>
								</li>
								<li class="sc-list-group">
									<div class="sc-list-addon">
										<i class="mdi mdi-progress-clock"></i>
									</div>
									<div class="sc-list-body">
										{{ mData.updated_at !== 'Invalid date' ? mData.updated_at : 'No Date' }}
										<span class="sc-color-secondary">Modified</span>
									</div>
								</li>
							</ul>
							<hr>
<!--							<span class="sc-color-secondary">Time Tracking</span>-->
<!--							<ul class="uk-list uk-margin-small-top">-->
<!--								<li>-->
<!--									<ScProgressLinear class="uk-width-1-1" size="md">-->
<!--										<template #label>-->
<!--											<ScProgressLabel class="uk-text-left">-->
<!--												Estimated: 4d-->
<!--											</ScProgressLabel>-->
<!--										</template>-->
<!--										<ScProgressBar :value="100" color="md-bg-light-green-600"></ScProgressBar>-->
<!--									</ScProgressLinear>-->
<!--								</li>-->
<!--								<li>-->
<!--									<ScProgressLinear class="uk-width-1-1" size="md">-->
<!--										<template #label>-->
<!--											<ScProgressLabel class="uk-text-left">-->
<!--												Logged: 1d-->
<!--											</ScProgressLabel>-->
<!--										</template>-->
<!--										<ScProgressBar :value="25" color="md-bg-orange-800"></ScProgressBar>-->
<!--									</ScProgressLinear>-->
<!--								</li>-->
<!--							</ul>-->
						</div>
					</div>
				</ScCardBody>
			</ScCard>
		</div>
	</div>
</template>

<script>
import ScAvatar from '~/components/Avatar'
import { ScProgressLinear, ScProgressBar, ScProgressLabel } from '~/components/progress'
export default {
	components: {
		ScAvatar,
		ScProgressLinear,
		ScProgressBar,
		ScProgressLabel
	},
	async asyncData (context) {
		let listData = await context.$axios.get(`cms/content/list/content-id=${context.params.content_id}/page=1/limit=10/column-sort=id/sort=desc`)
		return {
			listData: listData.data.data[0],
		}
	},
	data: () => ({
		mData: {
			title: '',
			image: '',
			content: 'Enter a some content text...</p>',
			type: '',
			author: '',
			publish_date: '',
			article_name: '',
			author_image: '',
			author_organization: '',
			created_at: '',
			modified_at: '',
			is_verified: '',
			video_url: '',
		},
	}),
	created(){
		this.mData = {
			content_id: this.listData.content_id,
			content_title: this.listData.content_title,
			content_image: this.listData.content_image,
			content: this.listData.content,
			content_type_name: this.listData.content_type_name,
			author: this.listData.author,
			author_image: this.listData.author_image,
			publish_date: this.listData.publish_date,
			created_at: this.listData.created_at,
			updated_at: this.listData.updated_at,
			is_verified: this.listData.is_verified,
			video_url: this.listData.video_url,
		}
	},
	methods: {
		verifiedItem(status){
			// console.log(this.$route.params.content_id)
			// console.log(this.mData)
			const self = this;
			// let index = this.rows.map(function (item) {
			// 	return item.content_id
			// }).indexOf(row.content_id);
			UIkit.modal.confirm(`<p class="uk-text-large">Do you really want to ${status === 1 ? 'verified' : 'rejected'} <strong>${self.mData.content_title}</strong>?</p>`, {
				'escClose': false,
				'labels': {
					'cancel': 'Cancel',
					'ok': status === 1 ? 'Verified' : 'Rejected'
				}
			}).then(async function () {
				// Updated
				await self.$store.dispatch('content/updateIsVerifiedContent', {id: self.mData.content_id, user_id: self.mData.user_id, is_verified: status})
				// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
				setTimeout(() => {
					self.mData.is_verified = status
					// self.listItemTable.data.splice(index, 1);
					// self.loadItems(false);
				}, 300);
			}, function () {
				// CANCEL DELETE
				// console.log('Rejected.')
			});
			// this.$store.commit('masterdata/deleteSc')
			// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
			// console.log(idx)
		},
		priorityLabel (priority) {
			let priorityClass = null;
			switch (priority) {
			case 'minor':
				priorityClass = 'uk-label-success';
				break;
			case 'major':
				priorityClass = '';
				break;
			case 'critical':
				priorityClass = 'uk-label-warning';
				break;
			case 'blocker':
				priorityClass = 'uk-label-danger';
				break;
			default:
			}
			return priorityClass;
		},
		statusLabel (priority) {
			let labelClass = null;
			switch (priority) {
				case 0:
					labelClass = '';
					break;
				case 1:
					labelClass = 'uk-label-success';
					break;
				case 2:
					labelClass = 'uk-label-danger';
					break;
				// case 'blocker':
				// 	priorityClass = 'uk-label-danger';
				// 	break;
				default:
			}
			return labelClass;
		},
		statusLabelText (priority) {
			let statusLabelText = null;
			switch (priority) {
				case 0:
					statusLabelText = 'pending';
					break;
				case 1:
					statusLabelText = 'verified';
					break;
				case 2:
					statusLabelText = 'rejected';
					break;
				// case 'blocker':
				// 	priorityClass = 'uk-label-danger';
				// 	break;
				default:
			}
			return statusLabelText;
		},
	}
}
</script>
