<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.title">
									<label>Title Content</label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<label class="uk-form-label">
									Content Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.content_type_id"
											:options="clistContentType"
											:settings="{ 'width': '100%', 'placeholder': 'Select a content type...', allowClear: true }"
											@change="contentTypeChange"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<label class="uk-form-label">
									Disaster Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.disaster_id"
											:options="clistDisaster"
											:settings="{ 'width': '100%', 'placeholder': 'Select a disaster type...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<label class="uk-form-label">
									Article Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.article_type_id"
											:options="clistArticleType"
											:settings="{ 'width': '100%', 'placeholder': 'Select a article type...', allowClear: true }"
											:disabled="mData.content_type_id === '' || mData.content_type_id === null"
										></Select2>
									</client-only>
								</div>
							</div>
						</div>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.publish_date" v-flatpickr="dtPicker">
									<label>Publish Date</label>
								</ScInput>
							</div>
<!--							<div v-if="$route.params.content_id === 'add'">-->
							<div>
								<div>
									<ScInput v-model="mData.image_name" read-only>
										<label>{{mData.content_type_id !== '7' ? 'Image Content' : 'Image Cover'}} <small>*auto generated</small></label>
									</ScInput>
								</div>
							</div>
						</div>
						<div class="uk-child-width-1-2@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<div v-if="file_type === 'pdf'">
									<div v-if="mData.content_type_id === '7'">
	<!--									<div data-uk-form-custom="target: true">-->
										<div v-if="mData.image_name.length !== 0" data-uk-form-custom="target: true">
<!--											<input type="file" accept="image/*,.pdf,video/*,audio/*" @change="readFile" ref="myFiles">-->
											<input type="file" accept=".pdf,audio/*" @change="readFile" ref="myFiles">
											<input class="uk-visible@s uk-input uk-form-width-large" type="text" :placeholder="$route.params.content_id !== 'add' ? mData.pdf_url : 'Select file pdf/audio'" disabled>
											<input class="uk-hidden@s uk-input uk-form-width-small" type="text" :placeholder="$route.params.content_id !== 'add' ? mData.pdf_url : 'Select file pdf/audio'" disabled>
										</div>
									</div>
								</div>
								<div v-else>
									<ScInput v-model="mData.video_url">
										<label>Video Url</label>
									</ScInput>
								</div>
								<div v-if="mData.content_type_id === '7' && mData.image_name.length !== 0">
									<label><input v-model="file_type" value="pdf" class="uk-radio" type="radio" name="radio2" checked>Pdf</label>
									<label><input v-model="file_type" value="video" class="uk-radio" type="radio" name="radio2">Video</label>
								</div>
							</div>
						</div>
						<div v-if="mData.content_type_id !== '7'" class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<label class="uk-form-label">
									Content
								</label>
								<client-only>
									<div v-quill:myQuillEditor="editorOption"
										 class="quill-editor"
										 :content="mData.content"
										 @change="onEditorChange($event)"
										 @blur="onEditorBlur($event)"
										 @focus="onEditorFocus($event)"
										 @ready="onEditorReady($event)"
									>
									</div>
								</client-only>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
<!--			<a href="javascript:void(0)" @click="test" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" :data-uk-tooltip="`title:${$route.params.content_id === 'add' ?'Add image content' : 'Edit image Content'}; pos: left`">-->
<!--				<i class="mdi mdi-image-plus"></i>-->
<!--			</a>-->
			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" :data-uk-tooltip="`title:${$route.params.content_id === 'add' ?'Add image content' : 'Edit image Content'}; pos: left`">
				<i class="mdi mdi-image-plus"></i>
			</a>
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
		</div>
		<div style="z-index: 100000 !important;" id="modal-center" class="uk-flex-top uk-modal" data-uk-modal>
			<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" >
				<div class="uk-margin-large-top">
					<ScProgressLinear>
						<template #label>
							<ScProgressLabel>
								Uploading file...{{$store.state.content.fileProgressPercentage}} %
							</ScProgressLabel>
						</template>
						<ScProgressBar :value="$store.state.content.fileProgressPercentage" color="md-bg-light-blue-800"></ScProgressBar>
					</ScProgressLinear>
<!--					<span>close</span>-->
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import { ScProgressLinear, ScProgressBar, ScProgressLabel } from '~/components/progress'
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import Flatpickr from '~/plugins/flatpickr'
	import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		middleware: 'router-auth',
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
			ScProgressLinear,
			ScProgressBar,
			ScProgressLabel,
		},
		async asyncData(context){
			// console.log(context.params)
			const listContentType = await context.$axios.get(`cms/masterdata/content-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			const listDisaster = await context.$axios.get(`cms/disaster/list/page=1/limit=1000/column-sort=id/sort=desc`)
			const listArticleType = await context.$axios.get(`cms/masterdata/article-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			// console.log(listContentType.data)
			let listData = null
			let editedIndex = -1
			context.params.content_id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.content_id === 'add'){
				return {
					listData: listData,
					listContentType: listContentType.data.data,
					listDisaster: listDisaster.data.data,
					listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`cms/content/list/content-id=${context.params.content_id}/page=1/limit=1/column-sort=id/sort=desc`)
				editedIndex = 1
				// console.log(listData.data.data[0])
				return {
					listData: listData.data.data[0],
					listContentType: listContentType.data.data,
					listDisaster: listDisaster.data.data,
					listArticleType: listArticleType.data.data,
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){

			// console.log(Object.entries(route.query).length === 0)

		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			canDownload: false,
			// content: '<h1>Header</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deleniti ducimus, eos fugit, mollitia neque praesentium quia quisquam quos sapiente voluptatem voluptatibus voluptatum. Assumenda consectetur deleniti doloremque fuga harum illum molestiae nisi possimus quidem vero. A accusantium alias aliquam animi cum doloremque eos est facilis illo, illum inventore ipsam itaque laboriosam maiores modi mollitia necessitatibus nemo non omnis perferendis quam quia, repellendus rerum vel veritatis voluptas voluptate?</p><p><a href="https://themeforest.com/" target="_blank">themeforest.com</a></p>',
			editorOption: {
				placeholder: 'Write a some content here...',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block'],
						[{ 'header': 1 }, { 'header': 2 }],
						[{ 'list': 'ordered' }, { 'list': 'bullet' }],
						[{ 'script': 'sub' }, { 'script': 'super' }],
						[{ 'indent': '-1' }, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'size': ['small', false, 'large', 'huge'] }],
						[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
						[{ 'font': [] }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean'],
						['link', 'image']
						// ['link', 'image', 'video']
					],
					imageResize: true
				}
			},
			file_type: 'video',
			mData: {
				title: '',
				image_name: '',
				content: '',
				content_type_id: '',
				disaster_id: '',
				article_type_id: '',
				publish_date: '',
				file: null,
				filename: '',
				pdf_url: 'Select file pdf/video/audio',
				video_url: ''
			},
		}),
		mounted() {
			if (this.editedIndex !== 1){
				if (this.$store.state.content.dataContent !== null){
					this.mData = this.$store.state.content.dataContent
				}
			}
		},
		watch: {
			mData: {
				handler(val){
					// if (this.editedIndex !== 1){
						this.$store.commit('content/savedStateAddContent', {
							// id: val.id === undefined ? '' : val.content_id,
							title: val.title === undefined ? '' : val.title,
							content_type_id: val.content_type_id === undefined ? '' : val.content_type_id,
							disaster_id: val.disaster_id === undefined ? '' : val.disaster_id,
							article_type_id: val.article_type_id === undefined ? '' : val.article_type_id,
							publish_date: val.publish_date === undefined ? '' : val.publish_date,
							content: val.content === undefined ? '' : val.content,
							image_name: val.image_name === undefined ? '' : val.image_name,
							video_url: val.video_url === undefined ? '' : val.video_url,
							// file: val.file
						})
					// }
					// this.testPersisted()
					// do stuff
				},
				deep: true
			}
		},
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.content_id,
					title: this.listData.content_title,
					image_name: this.listData.content_image,
					content: this.listData.content,
					content_type_id: this.listData.content_type_id.toString(),
					disaster_id: this.listData.disaster_id.toString(),
					article_type_id: this.listData.article_type_id.toString(),
					publish_date: this.$moment.utc(this.listData.publish_date).local().format("YYYY-MM-DD HH:mm"),
					pdf_url: this.listData.pdf_url,
					video_url: this.listData.video_url
				}
				this.mData.pdf_url ? this.file_type = 'pdf' : this.file_type = 'video'
			}
		},
		computed: {
			dtPicker () {
				const self = this;
				return {
					enableTime: true,
					time_24hr: true,
					minDate: self.$moment()._d,
					plugins: [new confirmDatePlugin({
						confirmIcon: "<i class='mdi mdi-check'/>",
						confirmText: ""
					})],
					dateFormat: "Y-m-d H:i"
				}
			},
			clistContentType () {
				return this.listContentType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			clistDisaster () {
				return this.listDisaster.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			clistArticleType () {
				return this.listArticleType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Content' : 'Edit Content'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			async contentTypeChange() {
				this.listArticleType = await this.$store.dispatch('content/getArticleTypeByContentTypeId', this.mData.content_type_id)
				// console.log(this.listArticleType)
				// this.listArticleType = await context.$axios.get(`cms/masterdata/article-type/list/page=1/limit=1000/column-sort=id/sort=desc`)
			},
			test(){
				this.mData.filename = Math.random()
			},
			readFile(e){
				const file = e.target.files[0];
				this.mData.file = file
				this.mData.filename = file.name
				// this.mData.pdf_url = file.name
			},
			async addImage() {
				this.$store.commit('content/updateStatusContent', this.$route.params.content_id)
				location.href = '/content/image_cropper'
			},
			openModal(){
				UIkit.modal('#getCroppedCanvasModal').show();
			},
			onEditorBlur (editor) {
				// console.log('editor blur!', editor)
			},
			onEditorFocus (editor) {
				// console.log('editor focus!', editor)
			},
			onEditorReady (editor) {
				// console.log('editor ready!', editor)
			},
			onEditorChange (event) {
				// console.log('editor change!', event.editor, event.html, event.text);
				this.mData.content = event.html
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteContent', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.mData = {}
				this.$store.commit('content/clearDataContent')
				this.$nuxt.$router.push('/content')
			},
			async submit() {
				// console.log()
				let textNotifSucced = 'Add Content Success'
				let textNotifFailed = 'Add Content Failed'
				let actions = 'addContent'
				if (this.editedIndex !== -1) {
					textNotifSucced = 'Update Content Success'
					textNotifFailed = 'Update Content Failed'
					actions = 'editContent'
					this.mData.id = this.$route.params.content_id
				}
				if ((this.$store.state.content.tempImageFile === null && this.$route.params.content_id === 'add') || this.mData.image_name === undefined) {
					this.showNotification('Image not set, please select the image', false, 'danger')
				} else {
					this.file_type === 'pdf' ? this.mData.video_url = '' : ''
					// console.log(this.$store.state.auth.user)
					this.modalPercentage('show')
					this.mData.images = this.$store.state.content.tempImageFile
					// console.log(this.$store.state.content.tempImageFile)
					// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
					// console.log(this.mData)
					await this.$store.dispatch('content/' + actions, this.mData)
						.then(async(res) => {
							if (res.success) {
								this.showNotification(res.message, false, 'success')
								this.modalPercentage('hide')
								this.$store.commit('content/clearDataContent')
								this.mData = {}
								this.$nuxt.$router.push('/content')
							} else {
								// console.log(res.message)
								this.showNotification(res.message, false, 'danger')
							}
						})
						.catch((err) => {
							UIkit.modal('#modal-center').hide();
							console.log(err)
						})
				}

			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
