<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Midtrans Transaction
					</h1>
					<span class="uk-text-muted">
						Rimember.id
					</span>
				</div>
				<div class="sc-actions uk-margin-left">
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-archive"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<VueGoodTable
						mode="remote"
						@on-page-change="onPageChange"
						@on-sort-change="onSortChange"
						@on-column-filter="onColumnFilter"
						@on-per-page-change="onPerPageChange"
						@on-search="onSearch"
						@on-row-dblclick="onRowDoubleClick"
						:totalRows="totalRecords"
						:isLoading.sync="isLoading"
						:pagination-options="{
							enabled: true,
						  }"
						:search-options="{
							enabled: true,
							placeholder: 'Search this table',
						  }"
						:columns="columns"
						:rows="rows"
					>
						<template slot="table-row" slot-scope="props">
								<span v-if="props.column.field === 'total'">
	<!--							  <span style="font-weight: bold; color: blue;">{{currencyFormat2(props.row.total, '')}}</span>-->
								  <span>{{currencyFormat2(props.row.total, '')}}</span>
								</span>
							<span v-else-if="props.column.field === 'transaction_status'">
									<span v-if="props.row.transaction_status === 'settlement'" class="uk-label md-bg-green-600">{{props.row.transaction_status}}</span>
								 	<span v-else-if="props.row.transaction_status === 'pending'" class="uk-label md-bg-cyan-600">{{props.row.transaction_status}}</span>
								  	<span v-else class="uk-label md-bg-red-600">{{props.row.transaction_status}}</span>
								</span>
							<span v-else-if="props.column.field === 'created'">
								  <span>{{parseLocalTime(props.row.created)}}</span>
								</span>
							<span v-else-if="props.column.field === 'paid_date'">
								  <span v-if="props.row.paid_date === 'Invalid date'" class="uk-label md-bg-grey-600">belum bayar</span>
								  <span v-else>{{parseLocalTime(props.row.paid_date)}}</span>
							</span>
							<span v-else-if="props.column.field === 'trx_status'">
<!--								 	<span v-if="props.row.trx_status === 'settlement'"><a data-uk-tooltip="Verified" @click="setSettleOrUnsettle(props.row)" href="javascript:void(0)" class="mdi mdi-shield-check-outline md-color-light-green-600"></a></span>-->
								<!--								 	<span v-else-if="props.row.trx_status === 'pending'"><a data-uk-tooltip="Unverified" @click="setSettleOrUnsettle(props.row)" href="javascript:void(0)" class="mdi mdi-shield-off-outline"></a></span>-->
								<!--								  	<span v-else></span>-->
									<span v-if="props.row.trx_status === 'settlement'"><a data-uk-tooltip="Download Receipt" @click="setSettleOrUnsettle(props.row)" href="javascript:void(0)" class="mdi mdi-file-pdf-box-outline md-color-red-600"></a></span>
									<span v-else></span>
								</span>
							<span v-else>
								  {{props.formattedRow[props.column.field]}}
								</span>
						</template>
						<template slot="table-column" slot-scope="props">
							 <span v-if="props.column.label === 'Action'">
								<i class="mdi mdi-file-outline sc-icon-square"></i> {{props.column.label}}
							 </span>
							<span v-else>
								{{props.column.label}}
							 </span>
						</template>
					</VueGoodTable>
				</ScCardBody>
			</ScCard>
		</div>
	</div>
</template>

<script>
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	import { mapGetters } from 'vuex'
	export default {
		components: {
			VueGoodTable
		},
		async asyncData(context){
			const listItems = await context.$axios.get('transaction/midtrans/list/page=1/limit=10/column-sort=id/sort=desc')
			// console.log(listItems.data)
			return {
				listItemTable: listItems.data,
				// listBranch: listBranch.data.data,
				// arrBranch: arrBranch,
				// // header: Object.keys(listSc.data.data[0]),
				// paginate: listTechnician.data.paginate
			}
		},
		data: () => ({
			isLoading: false,
			progress: false,
			totalRecords: 0,
			serverParams: {
				columnFilters: {
				},
				sort: {
					field: 'id',
					type: 'desc',
				},
				page: 1,
				perPage: 10,
				searchVal: ''
			},
			columns: [
				{
					label: 'Invoice Code',
					field: 'inv_code',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Email',
					field: 'email',
					// type: 'number',
					thClass: 'uk-text-right',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Order Date',
					field: 'created',
					type: 'datetime',
					dateInputFormat: 'yyyy-mm-dd',
					dateOutputFormat: 'MMM do yyyy',
					thClass: 'uk-text-right',
				},
				{
					label: 'Payment Date',
					field: 'paid_date',
					type: 'datetime',
					dateInputFormat: 'yyyy-mm-dd',
					dateOutputFormat: 'MMM do yyyy',
					thClass: 'uk-text-right',
				},
				{
					label: 'Nominal',
					field: 'total',
					type: 'number',
					thClass: 'uk-text-right',
				},
				{
					label: 'Trx Status',
					field: 'transaction_status',
					// filterOptions: {
					// 	enabled: true,
					// 	filterDropdownItems: ['settlement', 'unverification', 'failure']
					// }
				},
				{
					// label: 'Action',
					field: 'trx_status',
					sortable: false
				},
				// {
				// 	label: 'Percent',
				// 	field: 'score',
				// 	type: 'percentage',
				// 	thClass: 'uk-text-right'
				// },
			],
			rows: [
				{ id:1, name:"John", age: 20, createdAt: '2019-10-12', score: 0.241 },
				{ id:2, name:"Jane", age: 24, createdAt: '2019-10-31', score: 0.03343 },
				{ id:3, name:"Susan", age: 16, createdAt: '2019-10-14', score: 1.00 },
				{ id:4, name:"Chris", age: 55, createdAt: '2019-10-11', score: 0.081 },
				{ id:5, name:"Dan", age: 40, createdAt: '2019-10-25', score: 0.052 },
				{ id:6, name:"John", age: 20, createdAt: '2019-10-30', score: 0.0012 },
			],
		}),
		computed: {
			...mapGetters({
				issues: 'issues/issues'
			}),
			// columns () {
			// 	return [
			// 		{
			// 			label: 'Id',
			// 			field: 'issueId',
			// 			sortable: true,
			// 			sortFn: this.issueIdSort,
			// 			tdClass: 'uk-text-center uk-text-nowrap'
			// 		},
			// 		{
			// 			label: 'Priority',
			// 			field: 'priority',
			// 			tdClass: 'uk-text-center',
			// 			filterOptions: {
			// 				enabled: true,
			// 				filterDropdownItems: ['minor', 'major', 'critical', 'blocker']
			// 			}
			// 		},
			// 		{
			// 			label: 'Title',
			// 			field: 'title',
			// 			filterOptions: {
			// 				enabled: true
			// 			}
			// 		},
			// 		{
			// 			label: 'User',
			// 			field: 'user',
			// 			filterOptions: {
			// 				enabled: true
			// 			}
			// 		},
			// 		{
			// 			label: 'Status',
			// 			field: 'status'
			// 		},
			// 		{
			// 			label: 'Created On',
			// 			field: 'created',
			// 			type: 'date',
			// 			dateInputFormat: 'yyyy-MM-dd',
			// 			dateOutputFormat: 'MMM do yyyy',
			// 			tdClass: 'uk-text-nowrap uk-text-left'
			// 		},
			// 		{
			// 			label: 'Modified On',
			// 			field: 'modified',
			// 			type: 'date',
			// 			dateInputFormat: 'yyyy-MM-dd',
			// 			dateOutputFormat: 'MMM do yyyy',
			// 			tdClass: 'uk-text-nowrap uk-text-left'
			// 		}
			// 	]
			// }
		},
		methods: {
			onRowDoubleClick(){
				alert('open details')
			},
			setSettleOrUnsettle(item, isSetSettle){
				this.isLoading = true
				if(isSetSettle){
					this.$store.dispatch('transaction/approveSettle', item)
						.then((res) => {
							this.isLoading = false
							console.log(res)
							this.loadItems(false);
						})
				}else{
					this.$store.dispatch('transaction/approveUnsettle', item)
						.then((res) => {
							this.isLoading = false
							console.log(res)
							this.loadItems(false);
						})
				}

				// console.log(item)
			},
			onSearch(params) {
				this.updateParams({searchVal: params.searchTerm, page: 1});
				if(params.searchTerm.length === 0){
					this.loadItems(false);
				}else{
					this.loadItems(true);
				}
				// params.searchTerm - term being searched for
				// params.rowCount - number of rows that match search
			},
			updateParams(newProps) {
				this.serverParams = Object.assign({}, this.serverParams, newProps);
				// console.log(this.serverParams)
			},
			// load items is what brings back the rows from server
			loadItems(isSearch) {
				if(isSearch){
					this.$store.dispatch('transaction/getListSearchMidtrans', this.serverParams)
						.then((res) => {
							this.totalRecords =res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
							// console.log(res)
						})
				}else{
					this.$store.dispatch('transaction/getListMidtrans', this.serverParams)
						.then((res) => {
							this.totalRecords =res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
							// console.log(res)
						})
				}
			},
			onPageChange(params){
				this.updateParams({page: params.currentPage});
				this.loadItems(false);
			},
			onSortChange(params){
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
				});
				this.loadItems(false);
			},
			onColumnFilter(params){
				// params.columnFilters - filter values for each column in the following format:
				// {field1: 'filterTerm', field3: 'filterTerm2')
				//console.log(params)
			},
			onPerPageChange(params){
				this.updateParams({perPage: params.currentPerPage});
				this.loadItems(false);
			},
			onSelectChanged (params) {
				const selectedIds = params.selectedRows.reduce((acc, row) => {
					acc.push(row.id);
					return acc;
				}, []);
				// console.log(params.selectedRows);
				// console.log(selectedIds);
			},
			issueIdSort (x, y, col, rowX, rowY) {
				const _x = parseInt(x.replace("sc-", ""));
				const _y = parseInt(y.replace("sc-", ""));
				return (_x < _y ? -1 : (_x > _y ? 1 : 0));
			}
		},
		created(){
			this.totalRecords = this.listItemTable.paginate.totalRow
			this.rows = this.listItemTable.data
		}
	}
</script>

<style lang="scss">
	@import '~scss/plugins/vue-good-table.scss';
</style>
