<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
<!--			<div class="uk-animation-slide-left">-->
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-3@m uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.nik" v-input-mask="{ 'mask': '999-99-9999' }">
									<label>NIK</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.nip" v-input-mask="{ 'mask': '999-99-9999' }">
									<label>NIP</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.name">
									<label>Name</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.email" v-input-mask="{ 'alias': 'email' }">
									<label>Email</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.phone" v-input-mask="{ 'mask': '9999-9999-9999' }">
									<label>Phone</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.address">
									<label>Address</label>
								</ScInput>
							</div>
							<div v-if="editedIndex === -1">
								<ScInput v-model="mData.password">
									<label>Password</label>
								</ScInput>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>

<!--			</div>-->
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark">
				<i class="mdi mdi-checkbox-marked-circle-outline"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	const tech_type = require('~/data/common/tech_type.json');
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/assets/js/vendor/jquery.creditCardValidator.js');
		require('~/plugins/gmaps')
	}

	export default {
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			// console.log(Object.keys(listSc.data.data[0]));
			// console.log(context.params)
			if (context.params.id === 'add'){
				return {
					listData: listData,
					editedIndex: editedIndex,
				}
			}else{
				listData =  await context.$axios.get(`cms/users/technician-user/list/id=${context.params.id}/page=1/limit=5/sort=desc`)
				editedIndex = 1
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
				}
			}
		},
		data: () => ({
			mData: {
				nik: '',
				nip: '',
				name: '',
				email: '',
				password: '',
				phone: '',
				address: '',
			},
		}),
		mounted(){

		},
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					nik: this.listData.nik,
					nip: this.listData.nik,
					name: this.listData.name,
					email: this.listData.email,
					phone: this.listData.phone,
					address: this.listData.address,
				}
			}
		},
		computed: {
			techType () {
				return tech_type.map(function (obj) {
					obj.id = obj.id || obj.code;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Technician' : 'Edit Technician'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteServiceCenter', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/technician')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add Technician Success'
				let textNotifFailed = 'Add Technician Failed'
				let actions = 'addUsersTechnician'
				// let index = this.listBranch.findIndex(k => k.name === this.mData.branch_name)
				// this.mData.service_center_id = this.listBranch[index].id
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Technician Success'
					textNotifFailed = 'Update Technician Failed'
					actions = 'editTechnician'
				}
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				// console.log(this.scData)
				this.$store.dispatch('users/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(textNotifSucced, false, 'success')
							this.$nuxt.$router.push('/users/technician')
							// console.log(res.success)
						}else{
							this.showNotification(textNotifFailed, false, 'danger')
						}

					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
